################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Checker by RequestFX/Checker by RequestFX/obj/Debug/Checker_by_RequestFX.MainForm.resources
