Checker by RequestFX/Checker by RequestFX/obj/Debug/Checker by RequestFX.csproj.FileListAbsolute.txt
Checker by RequestFX/Checker by RequestFX/.vs/Checker by RequestFX/v16/.suo
.vs/slnx.sqlite
Checker by RequestFX/Checker by RequestFX/obj/Debug/Checker by RequestFX.csprojAssemblyReference.cache
.vs/slnx.sqlite
*.sqlite
*.sqlite-journal
*.sqlite
.vs/All-in-one/v16/.suo
.vs/All-in-one/v16/.suo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
